.DS_Store

.gradle/
build/

.vscode/

.idea
*.iml
*.ipr
*.iws


.classpath
.project
bin/
.settings/

/config/

/protocol/generated/
/examples/java/generated/


infrastructure.yaml

data.txt
data.txt.downloading