name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        tasks:
        - ":app:check"
        - "check -x :app:check"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew ${{ matrix.tasks }}
